# PUDL FERC Form 6 Data for Yellowstone Pipe Line Company (YPL)

In [2]:
import sqlite3
import pandas as pd

## Purpose

The purpose of this notebook will be to explore how to extract Federal Energy Regulatory Commission [(FERC)](https://ferc.gov/what-ferc) data provided by the Public Utility Data Liberation [(PUDL)](https://catalyst.coop/pudl/) Project.

The goal will be to extract data for the Yellowstone Pipe Line Company from the PUDL Sqlite database and match to the FERC Form 6 exported from the FERC website.

## Establish Connection to PUDL Database

In [3]:
# Connect to the database
conn = sqlite3.connect("ferc6_xbrl.sqlite")

In [4]:
# Create a cursor that lets you execute SQL queries and fetch results
cursor = conn.cursor()

In [5]:
# Get list of table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

## Explore Tables Contained in the Database

In [6]:
# Assign list of tables to variable
tables = cursor.fetchall()

In [7]:
# Print list of table names
print("Tables in the database:")
for table in tables:
    print(table[0])

Tables in the database:
annual_corporate_officer_certification_001_duration
identification_001_duration
list_of_schedule_002_duration
general_information_101_duration
control_over_respondent_102_duration
control_over_respondent_102_instant
companies_controlled_by_respondent_103_duration
companies_controlled_by_respondent_103_instant
principal_general_officers_104_duration
directors_105_duration
important_changes_during_the_quarter_year_108_duration
comparative_balance_sheet_110_instant
income_statement_114_duration
statement_of_accumulated_other_comprehensive_income_and_hedging_activities_116_duration
statement_of_accumulated_other_comprehensive_income_and_hedging_activities_116_instant
appropriated_retained_income_118_instant
appropriated_retained_income_other_appropriations_118_duration
appropriated_retained_income_other_appropriations_118_instant
unappropriated_retained_income_statement_119_duration
unappropriated_retained_income_statement_119_instant
statement_of_cash_flows_120_duration
statement_of_cash_flows_120_instant
statement_of_cash_flows_cash_provided_by_other_sources_120_duration
statement_of_cash_flows_construction_and_acquisition_of_plant_120_duration
statement_of_cash_flows_non_cash_charges_120_duration
statement_of_cash_flows_other_adjustment_to_short_term_debt_120_duration
statement_of_cash_flows_other_adjustments_to_financing_activities_120_duration
statement_of_cash_flows_other_adjustments_to_investing_cash_flows_120_duration
statement_of_cash_flows_other_adjustments_to_operating_cash_charges_120_duration
statement_of_cash_flows_other_payment_for_retirement_to_financing_acitivities_120_duration
notes_to_financial_statements_122_duration
receivables_from_affiliated_companies_200_duration
receivables_from_affiliated_companies_200_instant
investments_in_affiliated_companies_202_duration
investments_in_affiliated_companies_202_instant
investments_in_affiliated_companies_bonds_including_u_s_government_bonds_202_duration
investments_in_affiliated_companies_bonds_including_u_s_government_bonds_202_instant
investments_in_affiliated_companies_investment_advances_202_duration
investments_in_affiliated_companies_investment_advances_202_instant
investments_in_affiliated_companies_other_secured_obligations_202_duration
investments_in_affiliated_companies_other_secured_obligations_202_instant
investments_in_affiliated_companies_stock_202_duration
investments_in_affiliated_companies_stock_202_instant
investments_in_affiliated_companies_totals_202_duration
investments_in_affiliated_companies_totals_202_instant
investments_in_affiliated_companies_unsecured_notes_202_duration
investments_in_affiliated_companies_unsecured_notes_202_instant
investments_in_sinking_and_other_funds_202_duration
investments_in_sinking_and_other_funds_202_instant
companies_controlled_directly_by_respondent_other_than_through_title_to_securities_204_duration
investments_in_common_stocks_of_affiliated_companies_204_duration
investments_in_common_stocks_of_affiliated_companies_204_instant
investments_in_common_stocks_of_affiliated_companies_total_204_duration
investments_in_common_stocks_of_affiliated_companies_total_204_instant
carrier_property_212_duration
carrier_property_212_instant
undivided_joint_interest_property_214_duration
undivided_joint_interest_property_214_instant
accrued_depreciation_carrier_property_216_duration
accrued_depreciation_carrier_property_216_instant
accrued_depreciation_undivided_joint_interest_property_217_duration
accrued_depreciation_undivided_joint_interest_property_217_instant
amortization_base_and_reserve_218_duration
amortization_base_and_reserve_218_instant
noncarrier_property_220_duration
noncarrier_property_220_instant
other_deferred_charges_221_duration
other_deferred_charges_221_instant
payables_to_affiliated_companies_225_duration
payables_to_affiliated_companies_225_instant
long_term_debt_collateral_trust_bonds_226_duration
long_term_debt_collateral_trust_bonds_226_instant
long_term_debt_debt_to_affiliated_companies_226_duration
long_term_debt_debt_to_affiliated_companies_226_instant
long_term_debt_income_bonds_226_duration
long_term_debt_income_bonds_226_instant
long_term_debt_miscellaneous_obligations_226_duration
long_term_debt_miscellaneous_obligations_226_instant
long_term_debt_mortgage_bonds_226_duration
long_term_debt_mortgage_bonds_226_instant
long_term_debt_total_226_duration
long_term_debt_total_226_instant
analysis_of_federal_income_and_other_taxes_deferred_230_duration
analysis_of_federal_income_and_other_taxes_deferred_230_instant
capital_stock_account_70_250_duration
capital_stock_account_70_250_instant
capital_stock_changes_during_the_year_252_duration
additional_paid_in_capital_254_duration
additional_paid_in_capital_254_instant
additional_paid_in_capital_additions_254_duration
additional_paid_in_capital_deductions_254_duration
operating_revenues_300_duration
operating_revenue_accounts_account_600_301_duration
operating_revenue_accounts_account_600_interstate_301_duration
operating_expense_accounts_account_610_302_duration
pipeline_taxes_other_than_income_taxes_305_duration
pipeline_taxes_other_than_income_taxes_other_us_taxes_305_duration
pipeline_taxes_other_than_income_taxes_us_government_taxes_305_duration
income_from_noncarrier_property_335_duration
interest_and_dividend_income_336_duration
interest_and_dividend_income_table_336_duration
miscellaneous_items_in_income_and_retained_income_accounts_for_the_year_337_duration
miscellaneous_items_in_income_and_retained_income_accounts_for_the_year_income_taxes_on_extraordinary_items_337_duration
miscellaneous_items_in_income_and_retained_income_accounts_for_the_year_miscellaneous_income_337_duration
miscellaneous_items_in_income_and_retained_income_accounts_for_the_year_miscellaneous_income_charges_337_duration
miscellaneous_items_in_income_and_retained_income_accounts_for_the_year_miscellaneous_income_extraordinary_items_337_duration
miscellaneous_items_in_income_and_retained_income_accounts_for_the_year_other_credits_to_retained_income_337_duration
miscellaneous_items_in_income_and_retained_income_accounts_for_the_year_other_debits_to_retained_income_337_duration
miscellaneous_items_in_income_and_retained_income_accounts_for_the_year_totals_337_duration
payments_for_services_rendered_by_other_than_employees_351_duration
statistics_of_operations_600_duration
statistics_of_operations_totals_600_duration
statistics_of_operations_operator_600a_duration
statistics_of_operations_totals_operator_600a_duration
miles_of_pipeline_operated_at_end_of_year_602_duration
miles_of_pipeline_operated_at_end_of_year_subtotal_602_duration
miles_of_pipeline_operated_at_end_of_year_total_602_duration
annual_cost_of_service_based_analysis_schedule_700_duration
annual_cost_of_service_based_analysis_schedule_700_instant
receivables_from_affiliated_companies_totals_200_instant
amortization_base_and_reserve_totals_218_duration
amortization_base_and_reserve_totals_218_instant
noncarrier_property_totals_220_instant
other_deferred_charges_totals_221_instant
payables_to_affiliated_companies_totals_225_instant
long_term_debt_collateral_trust_bonds_totals_226_duration
long_term_debt_collateral_trust_bonds_totals_226_instant
long_term_debt_debt_to_affiliated_companies_totals_226_duration
long_term_debt_debt_to_affiliated_companies_totals_226_instant
long_term_debt_income_bonds_totals_226_duration
long_term_debt_income_bonds_totals_226_instant
long_term_debt_miscellaneous_obligations_totals_226_duration
long_term_debt_miscellaneous_obligations_totals_226_instant
long_term_debt_mortgage_bonds_totals_226_duration
long_term_debt_mortgage_bonds_totals_226_instant
analysis_of_federal_income_and_other_taxes_deferred_totals_230_duration
analysis_of_federal_income_and_other_taxes_deferred_totals_230_instant
capital_stock_account_70_totals_250_instant
capital_stock_common_stock_250_duration
capital_stock_common_stock_250_instant
capital_stock_common_stock_totals_250_instant
capital_stock_preferred_stock_250_duration
capital_stock_preferred_stock_250_instant
capital_stock_preferred_stock_totals_250_instant
income_from_noncarrier_property_totals_335_duration
payments_for_services_rendered_by_other_than_employees_totals_351_duration
statistics_of_operations_totals_operator_totals_600a_duration

## Extract Income Statement Data

Below are screenshots of the FERC Form 6 Income Statement for Yellowstone Pipe Line Company:

![](img/ypl-income-statement-image-01.png)

![](img/ypl-income-statement-image-02.png)

![](img/ypl-income-statement-image-03.png)

![](img/ypl-income-statement-image-04.png)


By looking at the list of tables from earlier, "income_statement_114_duration" appears to have the most relevant table name. to determine if this is the correct table we will extract the table data into a Pandas DataFrame to be able to compare to the Income Statement screenshots above.

In [8]:
# Assign income statement table to a DataFrame
df_is = pd.read_sql("SELECT * FROM income_statement_114_duration", conn)
print(df_is.head())

  entity_id                                        filing_name  \
0   C004254  Tallgrass_Pony_Express_Pipeline,_LLC_form6_Q4_...
1   C004254  Tallgrass_Pony_Express_Pipeline,_LLC_form6_Q4_...
2   C000954             Frontier_Aspen_LLC_form6_Q4_1649970270
3   C000954             Frontier_Aspen_LLC_form6_Q4_1649970270
4   C000070         NuStar_Logistics,_L.P._form6_Q4_1649102002

             publication_time  start_date    end_date  \
0  2022-04-15 17:34:15.000000  2020-01-01  2020-12-31
1  2022-04-15 17:34:15.000000  2021-01-01  2021-12-31
2  2022-04-14 21:04:30.000000  2020-01-01  2020-12-31
3  2022-04-14 21:04:30.000000  2021-01-01  2021-12-31
4  2022-04-04 19:53:22.000000  2020-01-01  2020-12-31

   provision_for_deferred_taxes_extraordinary_items  extraordinary_items_net  \
0                                               NaN                      NaN
1                                               NaN                      NaN
2                                               NaN                      NaN
3                                               NaN                      NaN
4                                               NaN                      NaN

   equity_in_earnings_losses_of_affiliated_companies_including_dividend_income  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                        -70418010.0

   net_income_loss  income_taxes_on_extraordinary_items  ...  \
0      192620675.0                                  NaN  ...
1      155631516.0                                  NaN  ...
2       11398374.0                                  NaN  ...
3       14225180.0                                  NaN  ...
4     -276898189.0                                  NaN  ...

   federal_income_taxes_on_income_from_continuing_operations  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                          1766357.0

   net_carrier_operating_income  miscellaneous_income_charges  \
0                   192620675.0                           NaN
1                   155463053.0                     -168463.0
2                    10703717.0                           NaN
3                    14223327.0                           NaN
4                    95464570.0                   156505248.0

   income_net_from_noncarrier_property  unusual_or_infrequent_items_debit  \
0                                  NaN                                NaN
1                                  NaN                                NaN
2                                  NaN                                NaN
3                                  NaN                                NaN
4                           76161541.0                                NaN

   operating_revenues  other_income_and_deductions  \
0         409998628.0                          NaN
1         366241509.0                     168463.0
2          20504009.0                     694657.0
3          24329232.0                       1853.0
4         306845036.0                 -370583931.0

   interest_and_dividend_income  extraordinary_items  \
0                           NaN                  NaN
1                           NaN                  NaN
2                           NaN                  NaN
3                           NaN                  NaN
4                      134946.0                  NaN

   income_loss_before_extraordinary_items
0                             192620675.0
1                             155631516.0
2                              11398374.0
3                              14225180.0
4                            -276898189.0

[5 rows x 34 columns]

For this example, the goal is to pull information for Yellowstone Pipe Line Company. To be able to do that the DataFrame will have to be filtered. Looking at the above printout it appears column entity_id contains a unique identifier for each filer and filing_name contains the name of the filer. The filing_name column will first be used to determine which entity_id corresponds to Yellowstone Pipe Line Company.

In [9]:
# Use str.contains to fine Yellowstone Pipe Line
df_is[df_is.loc[:, 'filing_name'].str.contains('Yellowstone')]

,entity_id,filing_name,publication_time,start_date,end_date,provision_for_deferred_taxes_extraordinary_items,extraordinary_items_net,equity_in_earnings_losses_of_affiliated_companies_including_dividend_income,net_income_loss,income_taxes_on_extraordinary_items,...,federal_income_taxes_on_income_from_continuing_operations,net_carrier_operating_income,miscellaneous_income_charges,income_net_from_noncarrier_property,unusual_or_infrequent_items_debit,operating_revenues,other_income_and_deductions,interest_and_dividend_income,extraordinary_items,income_loss_before_extraordinary_items
326,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1650134001,2022-04-16 18:33:21.000000,2021-01-01,2021-12-31,NaN,NaN,NaN,10446634.0,NaN,...,4154368.0,14737038.0,6277.0,NaN,NaN,41152800.0,-2861.0,7631.0,NaN,10446634.0
327,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1650134001,2022-04-16 18:33:21.000000,2020-01-01,2020-12-31,NaN,NaN,NaN,8390951.0,NaN,...,2754429.0,11624247.0,7.0,NaN,NaN,38957812.0,79026.0,77372.0,NaN,8390951.0
638,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1681324161,2023-04-12 18:29:21.000000,2022-01-01,2022-12-31,NaN,NaN,NaN,10008065.0,NaN,...,4498345.0,14352988.0,21639.0,NaN,NaN,41400449.0,163597.0,195267.0,NaN,10008065.0
639,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1681324161,2023-04-12 18:29:21.000000,2021-01-01,2021-12-31,NaN,NaN,NaN,10446634.0,NaN,...,4154368.0,14737038.0,6277.0,NaN,NaN,41152800.0,-2861.0,7631.0,NaN,10446634.0
1460,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1712936573,2024-04-12 15:42:53.000000,2023-01-01,2023-12-31,NaN,NaN,NaN,14630430.0,NaN,...,4700520.0,19048477.0,4000.0,NaN,NaN,46690658.0,600111.0,601411.0,NaN,14630430.0
1461,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1712936573,2024-04-12 15:42:53.000000,2022-01-01,2022-12-31,NaN,NaN,NaN,10008065.0,NaN,...,4498345.0,14352988.0,21639.0,NaN,NaN,41400449.0,163597.0,195267.0,NaN,10008065.0
1837,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1745016653,2025-04-18 22:50:53.000000,2024-01-01,2024-12-31,NaN,NaN,NaN,17978665.0,NaN,...,7076805.0,24391749.0,6296.0,NaN,NaN,52343305.0,866826.0,825574.0,NaN,17978665.0
1838,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1745016653,2025-04-18 22:50:53.000000,2023-01-01,2023-12-31,NaN,NaN,NaN,14630430.0,NaN,...,4700520.0,19048477.0,4000.0,NaN,NaN,46690658.0,600111.0,601411.0,NaN,14630430.0

Yellowstone Pipe Lince Company's entity id is C001041. We can now use this ID to filter the DataFrame for YPL.

In [10]:
# Use YPL's entiti id to filter the DataFrame
ypl_id = 'C001041'
df_is_ypl = df_is[df_is['entity_id'] == ypl_id]

In [11]:
df_is_ypl

,entity_id,filing_name,publication_time,start_date,end_date,provision_for_deferred_taxes_extraordinary_items,extraordinary_items_net,equity_in_earnings_losses_of_affiliated_companies_including_dividend_income,net_income_loss,income_taxes_on_extraordinary_items,...,federal_income_taxes_on_income_from_continuing_operations,net_carrier_operating_income,miscellaneous_income_charges,income_net_from_noncarrier_property,unusual_or_infrequent_items_debit,operating_revenues,other_income_and_deductions,interest_and_dividend_income,extraordinary_items,income_loss_before_extraordinary_items
326,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1650134001,2022-04-16 18:33:21.000000,2021-01-01,2021-12-31,NaN,NaN,NaN,10446634.0,NaN,...,4154368.0,14737038.0,6277.0,NaN,NaN,41152800.0,-2861.0,7631.0,NaN,10446634.0
327,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1650134001,2022-04-16 18:33:21.000000,2020-01-01,2020-12-31,NaN,NaN,NaN,8390951.0,NaN,...,2754429.0,11624247.0,7.0,NaN,NaN,38957812.0,79026.0,77372.0,NaN,8390951.0
638,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1681324161,2023-04-12 18:29:21.000000,2022-01-01,2022-12-31,NaN,NaN,NaN,10008065.0,NaN,...,4498345.0,14352988.0,21639.0,NaN,NaN,41400449.0,163597.0,195267.0,NaN,10008065.0
639,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1681324161,2023-04-12 18:29:21.000000,2021-01-01,2021-12-31,NaN,NaN,NaN,10446634.0,NaN,...,4154368.0,14737038.0,6277.0,NaN,NaN,41152800.0,-2861.0,7631.0,NaN,10446634.0
1460,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1712936573,2024-04-12 15:42:53.000000,2023-01-01,2023-12-31,NaN,NaN,NaN,14630430.0,NaN,...,4700520.0,19048477.0,4000.0,NaN,NaN,46690658.0,600111.0,601411.0,NaN,14630430.0
1461,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1712936573,2024-04-12 15:42:53.000000,2022-01-01,2022-12-31,NaN,NaN,NaN,10008065.0,NaN,...,4498345.0,14352988.0,21639.0,NaN,NaN,41400449.0,163597.0,195267.0,NaN,10008065.0
1837,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1745016653,2025-04-18 22:50:53.000000,2024-01-01,2024-12-31,NaN,NaN,NaN,17978665.0,NaN,...,7076805.0,24391749.0,6296.0,NaN,NaN,52343305.0,866826.0,825574.0,NaN,17978665.0
1838,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1745016653,2025-04-18 22:50:53.000000,2023-01-01,2023-12-31,NaN,NaN,NaN,14630430.0,NaN,...,4700520.0,19048477.0,4000.0,NaN,NaN,46690658.0,600111.0,601411.0,NaN,14630430.0

From reviewing the above there will be overlap of data due to the fact that for each Ferc form there is current and prior year data reported. This results in originally reported data being available (the current year data on each years form) and restated data being available (the prior year data on each years form). For this analyis our goal is to match the current year Ferc Form 6, so we will further filter the data to the most recent form. To do this we can filter using the "publication_time" column.

In [12]:
# Filter the DataFrame by publication_time
df_is_ypl_25 = df_is_ypl[df_is_ypl.loc[:, 'publication_time'].str.contains('2025-')]

In [13]:
df_is_ypl_25

,entity_id,filing_name,publication_time,start_date,end_date,provision_for_deferred_taxes_extraordinary_items,extraordinary_items_net,equity_in_earnings_losses_of_affiliated_companies_including_dividend_income,net_income_loss,income_taxes_on_extraordinary_items,...,federal_income_taxes_on_income_from_continuing_operations,net_carrier_operating_income,miscellaneous_income_charges,income_net_from_noncarrier_property,unusual_or_infrequent_items_debit,operating_revenues,other_income_and_deductions,interest_and_dividend_income,extraordinary_items,income_loss_before_extraordinary_items
1837,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1745016653,2025-04-18 22:50:53.000000,2024-01-01,2024-12-31,NaN,NaN,NaN,17978665.0,NaN,...,7076805.0,24391749.0,6296.0,NaN,NaN,52343305.0,866826.0,825574.0,NaN,17978665.0
1838,C001041,Yellowstone_Pipe_Line_Company_form6_Q4_1745016653,2025-04-18 22:50:53.000000,2023-01-01,2023-12-31,NaN,NaN,NaN,14630430.0,NaN,...,4700520.0,19048477.0,4000.0,NaN,NaN,46690658.0,600111.0,601411.0,NaN,14630430.0

From a quick review this does appear to be the correct information. To be sure we can put together a printout in an order that matches to the Income Statement.

In [14]:
# Get a list of sorted column names
column_names = df_is_ypl_25.columns
column_names = column_names.sort_values()

In [15]:
# Print sorted list
for column in column_names:
    print(column)

cumulative_effect_of_changes_in_accounting_principles_less_applicable_income_taxes
dividend_income_equity_investments
end_date
entity_id
equity_in_earnings_losses_of_affiliated_companies_including_dividend_income
extraordinary_items
extraordinary_items_and_accounting_changes
extraordinary_items_net
federal_income_taxes_on_income_from_continuing_operations
filing_name
gain_loss_from_disposition_of_discontinued_segments_less_applicable_income_taxes
income_loss_before_extraordinary_items
income_loss_from_continuing_operations
income_loss_from_discontinued_operations
income_loss_from_operations_of_discontinued_segments_less_applicable_income_taxes
income_net_from_noncarrier_property
income_taxes_on_extraordinary_items
interest_and_dividend_income
interest_expense
miscellaneous_income
miscellaneous_income_charges
net_carrier_operating_income
net_income_loss
operating_expenses
operating_revenues
ordinary_income_before_federal_income_taxes
other_income_and_deductions
provision_for_deferred_taxes
provision_for_deferred_taxes_extraordinary_items
publication_time
start_date
undistributed_earnings_losses
unusual_or_infrequent_items_credit
unusual_or_infrequent_items_debit

In [16]:
# Produce a printout of the DataFrame in an order that matches to Income Statement
df_is_ypl_25.loc[:, [
    'start_date',
    'end_date',
    'operating_revenues', 
    'operating_expenses',
    'net_carrier_operating_income',
    'interest_and_dividend_income',
    'miscellaneous_income',
    'interest_expense',
    'miscellaneous_income_charges',
    'other_income_and_deductions',
    'ordinary_income_before_federal_income_taxes',
    'federal_income_taxes_on_income_from_continuing_operations',
    'provision_for_deferred_taxes',
    'income_loss_from_continuing_operations',
    ]]

,start_date,end_date,operating_revenues,operating_expenses,net_carrier_operating_income,interest_and_dividend_income,miscellaneous_income,interest_expense,miscellaneous_income_charges,other_income_and_deductions,ordinary_income_before_federal_income_taxes,federal_income_taxes_on_income_from_continuing_operations,provision_for_deferred_taxes,income_loss_from_continuing_operations
1837,2024-01-01,2024-12-31,52343305.0,27951556.0,24391749.0,825574.0,50248.0,2700.0,6296.0,866826.0,25258575.0,7076805.0,203105.0,17978665.0
1838,2023-01-01,2023-12-31,46690658.0,27642181.0,19048477.0,601411.0,2700.0,NaN,4000.0,600111.0,19648588.0,4700520.0,317638.0,14630430.0

The DataFrame printout does materially match to the Income Statement screenshots taken from the FERC Form 6 for Yellowstone Pipe Line Company. For example, the first screenshot is again copied below:

![](img/ypl-income-statement-image-01.png)

## Close the Sqlite Connection

In [17]:
# Close the connection when operations are complete
conn.close()